.container1{
    background-color: whitesmoke;
    width: 900px;
    margin: auto;
    padding: 10px 50px 50px 50px;
    border: 2px solid lightgrey;
}

.search{
    padding: 5px;
    position: absolute;    
}

.text-input{
    width: 350px;
    height: 20px;

}

.container2{
    padding: 10px;
    background-color: white;
    margin-top: 50px;
    
}



.featured{
    display: flex;
    padding: 15px;
    margin: 0px;    
}

.popular{
    display: inline-block;
    padding: 15px;
    margin: auto;    
}


.featured-title{
    padding: 10px;
    font-size: 15px;
    color: grey;
    margin: 10px;
    font-style: inherit;
}

.card{
    width: 200px;
    background-color: whitesmoke;
    border: lightslategray;
    margin: 10px;
    height: 225px;
    display: block;
    
}

.title {
color:lightslategray;
font-size: 15px;
padding: 5px;
}

.location {
    color: lightslategray;
    font-size: 10px;
    padding: 5px;
    margin-left: 10px;
}

.image{ 
    width: 200px;
    height: 150px;    
    color: brown;
    text-align: center;
    
}

.card2{
    width: 200px;
    background-color: whitesmoke;
    border: 10px solid white;    
    
    height: 170px;
    display: block;    
}

.image2{ 
    width: 300px;
    height: 120px;    
    color: brown;
    text-align: center; 
}


